@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text-primary antialiased;
    font-family: 'Inter', sans-serif;
  }
}

/* Custom styles for visual elements, scrollbars, etc. */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #08080a;
}

::-webkit-scrollbar-thumb {
  background: #20242c;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #303642;
}
